<h2>Course List</h2>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Filter By:</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="filter">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Release Date</th>
            <th scope="col">Rating</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <th scope="row">{{ course.code | lowercase | replace: '-' : ' ' }}</th>
            <td>
                <img [src]="course.imageUrl" [alt]="course.name" width="32" height="32">
            </td>
            <td>{{ course.name }}</td>
            <td>{{ course.price }}</td>
            <td>{{ course.releaseDate | date: 'dd/MM/yyyy' }}</td>
            <td>
                <app-star [rating]="course.rating"></app-star>
            </td>
            <td>
                <a [routerLink]="['/courses/info', course.id]" class="btn btn-primary mr-2">Edit</a>
                <a (click)="deleteById(course.id)" class="btn btn-danger text-white">Delete</a>
            </td>
        </tr>
    </tbody>
</table>